/* banner */
.blogs-banner {
  position: relative;
  background-image: url(../pic/blog_banner.png);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-40a);
    position: absolute;
    top: 0;
    left: 0;
  }
}
.blogs-banner-bg-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  opacity: 0.2;
  pointer-events: none;
}

.tab-item {
  text-align: center;
  color: var(--color-neutral-700);
}

.tab-item.active,
.tab-item:hover {
  background-color: var(--color-primary-900);
  color: var(--color-neutral-0);
}

.tab-link {
  display: block;
  padding: 12px 53px;
}

.card-pic img {
  transition: transform 0.4s ease;
}
.card-pic:hover img {
  transform: scale(1.1);
}
.card-content {
  flex: 1;
  color: var(--color-neutral-700);
  display: flex;
  flex-direction: column;
  margin: auto 0;
  gap: 12px;
}

.pagination-link.active,
.pagination-link:hover {
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-0);
  border-radius: 999px;
}

@media (max-width: 992px) {
  .blogs-banner-bg-text {
    top: 90%;
  }

  .blogs-nav {
    display: flex;
  }

  .tab-link {
    padding: 8px 12px;
    white-space: nowrap;
  }

  .card-content {
    gap: 8px;
  }

  .pagination-list {
    justify-content: center;
  }
}

/* Subscription */
.subscriptions {
  position: relative;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-web-camp/subscription_bg.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-60a);
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: 375px) {
  .subscriptions .col-5 img {
    display: block;
    width: 100%;
    height: auto;
  }
}
